.Aurora_container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.Aurora_container .Sidebar_container {
  width: 320px;
  background: #0e1423;
  border-right: 1px solid #2F2F2F;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Aurora_container .Sidebar_container.active{
  width: 65px;
}


.Aurora_container .Sidebar_container .sidebar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.Aurora_container .sidebar_header .aurora_icon {
  height: 55px;
  width: 50px;
  display: flex;
  margin-left: 5px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.Aurora_container .sidebar_header .aurora_icon p {
  font-size: 22px;
  font-weight: 450;
  color: #E5E7EB;
}
.Aurora_container .sidebar_header .aurora_icon img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
.Aurora_container .sidebar_header .sidebar_icon {
  margin-right: 20px;
  font-size: 20px;
  color: #E5E7EB;
  border-radius: 10px;
  padding: 5px 8px;
  transition: background-color 0.2s ease;
}
.Aurora_container .sidebar_header .sidebar_icon:hover {
  background-color: rgb(35, 35, 35);
  cursor: e-resize;
}
.Aurora_container .Sidebar_container .new_chat {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 25px;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  background: linear-gradient(90deg, #4f46e5, #6d28d9);
  margin-right: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #E5E7EB;
  min-height: 45px;
}

.Aurora_container .Sidebar_container .new_chat i {
  font-size: 17px;
  /* margin-left: 5px; */
}
.Aurora_container .Sidebar_container .new_chat p {
  font-weight: 400;
  font-size: 16px;
}
.Aurora_container .Sidebar_container .sidebar_menu {
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 18px;
}
.Aurora_container .Sidebar_container .sidebar_menu .menu {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 45px;
}

.Aurora_container .Sidebar_container .sidebar_menu .menu:hover {
  background-color:#1D213C;
}
.Aurora_container .Sidebar_container .sidebar_menu .menu.active {
  background-color:#1D213C;
}
.Aurora_container .Sidebar_container .sidebar_menu .menu i {
  font-size: 17px;
  /* margin-left: 5px; */
  color: #E5E7EB;
}
.Aurora_container .Sidebar_container .sidebar_menu .menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #E5E7EB;
}

.Aurora_container .Sidebar_container .sidebar_footer {
  margin-top: auto;
}
.Aurora_container .Sidebar_container .sidebar_footer .user_info {
  display: flex;
  gap: 20px;
  /* background-color: gray; */
  background-color: none;
  padding: 14px 10px;
  border-top: 1px solid #2A2A2A;
  cursor: pointer;
  color: #E5E7EB;
  min-width: 288px;
}
.Aurora_container .Sidebar_container .sidebar_footer .user_info p {
  padding: 4px 11px;
  background-color: #21C7B1;
  border-radius: 50%;
  font-size: 17px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aurora_container .Sidebar_container .sidebar_footer .user_info .userName {
  font-size: 16px;
}
.Aurora_container .main_content{
  flex: 1;
  background-color: #090D18;
  position: relative;
}
.Aurora_container .main_content .Chat_head{
  position: fixed;
  right: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}
.Aurora_container .main_content .Chat_head .light_dark{
  color: #E5E7EB; 
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 8px;
  transition: background-color 0.2s ease;
}
.Aurora_container .main_content .Chat_head .light_dark:hover{
  background-color: rgb(35, 35, 35);
}

.Aurora_container .main_content .Chat_head .chat_info{
  color: #E5E7EB; 
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 8px;
  transition: background-color 0.2s ease;
}
.Aurora_container .main_content .Chat_head .chat_info:hover{
  background-color: rgb(35, 35, 35);
}
.Aurora_container .main_content .chat_container{
  height: 100vh;
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.Aurora_container .main_content .chat_container .bot_message{
  display: flex;
  justify-content: flex-start;
  color: #E5E7EB;
  background-color: #0B1323;
  border: 1px solid rgba(255,255,255,0.04);
  border-radius: 16px;
  align-items: center;
  width: 550px ;
}
.Aurora_container .main_content .chat_container .bot_message .message_content{
  padding: 1rem;
  font-size: 17px;
}
.Aurora_container .main_content .chat_container .bot_message .message_content h3{
  font-weight: 500;
}
.Aurora_container .main_content .chat_container .bot_message .message_content p{
  color:#D7DCE5;
}
.Aurora_container .main_content .chat_container .bot_message .message_content span{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 13.5px;
  color: #8A92A6;
}
.Aurora_container .main_content .chat_container .user_message{
  display: flex;
  color: #E5E7EB;
  background-color: #5B34D7;
  border: 1px solid rgba(255,255,255,0.04);
  border-radius: 16px;
  margin-left: 60%;
  margin-bottom: 2rem;
}
.Aurora_container .main_content .chat_container .user_message .message_content{
  padding: 1rem;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Aurora_container .main_content .chat_container .user_message .message_content p{
  color:#D7DCE5;
}
.Aurora_container .main_content .chat_container .user_message .message_content span{
  display: flex;
  justify-content: flex-end;
  font-size: 13.5px;
  align-items: end;
  color: #8A92A6;
}
.Aurora_container .main_content .chat_footer{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 80%;
  max-width: 900px;
  background-color: #101827;
  border: 1px solid #2A3245;
  padding: 0.1rem;
  border-radius: 30px;
}
.Aurora_container .main_content .chat_footer .Input_message{
  display: flex;
  align-items: center;
}
.Aurora_container .main_content .chat_footer .Input_message #Input_filesbtn{
  margin-left: 5px;
  border-radius: 50%;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#F8F5FD;
  font-size: 19px;
}
.Aurora_container .main_content .chat_footer .Input_message #Input_filesbtn:hover{
  cursor: pointer;
  background-color: #6D38D6;
}
.Aurora_container .main_content .chat_footer .Input_message .user_query{
  height: 50px;
  min-width: 800px;
  outline: none;
  background: none;
  border: none;
  font-size: 17px;
  color: #fff;
  padding-left: 5px;
}
.Aurora_container .main_content .chat_footer .Input_message .user_query::placeholder{
  font-size: 17px;
  color: #9d9c9c;
}
.Aurora_container .main_content .chat_footer .Input_message #Send_btn{
  border-radius: 50%;
  padding: 10px 20px;
  color:#F8F5FD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
.Aurora_container .main_content .chat_footer .Input_message #Send_btn:hover{
  cursor: pointer;
  background-color: #6D38D6;
}
