/* For signup */
@media only screen and (max-width: 390px) {
  .signup {
    min-width: 330px;
    min-height: 470px;
    gap: 27px;
  }
  .signup .Aurora_logo {
    height: 50px;
    width: 110px;
  }
  .signup h2 {
    font-size: 28.5px;
  }
  #user-up i {
    font-size: 24px !important;
  }
  #user-up input {
    width: 220px;
    font-size: 15.5px;
    height: 45px;
  }

  #user-up input::placeholder {
    font-size: 14px;
  }

  #btn {
    font-size: 13.5px;
  }
  .signup p {
    font-size: 13.5px;
  }
  /* For Sign in page */
  .signin {
    min-width: 330px;
    min-height: 410px;
    gap: 27px;
  }
  .signin .Aurora_logo {
    height: 50px;
    width: 110px;
  }
  .signin h2 {
    font-size: 28.5px;
  }
  .signin p {
    font-size: 13.5px;
  }
}
@media (min-width: 391px) and (max-width: 480px) {
  /* For Sign Up page */
  .signup {
    min-width: 360px;
    min-height: 470px;
    gap: 27px;
  }
  .signup .Aurora_logo {
    height: 55px;
    width: 120px;
  }
  .signup h2 {
    font-size: 28.5px;
  }
  #user-up i {
    font-size: 24.5px !important;
  }
  #user-up input {
    width: 240px;
    font-size: 15.5px;
    height: 45px;
  }

  #user-up input::placeholder {
    font-size: 14px;
  }

  #btn {
    font-size: 13.5px;
  }
  .signup p {
    font-size: 13.5px;
  }
  /* For Sign in page */
  .signin {
    min-width: 360px;
    min-height: 470px;
    gap: 27px;
  }
  .signin .Aurora_logo {
    height: 55px;
    width: 120px;
  }
  .signin h2 {
    font-size: 28.5px;
  }
  .signin p {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* For Sign Up page */
  .signup {
    min-width: 400px;
    min-height: 480px;
    gap: 27px;
  }
  .signup .Aurora_logo {
    height: 55px;
    width: 130px;
  }
  .signup h2 {
    font-size: 29.5px;
  }
  #user-up i {
    font-size: 25px !important;
  }
  #user-up input {
    width: 270px;
    font-size: 15.5px;
    height: 45px;
  }

  #user-up input::placeholder {
    font-size: 14.5px;
  }

  #btn {
    font-size: 14.5px;
  }
  .signup p {
    font-size: 14px;
  }
  /* For Sign in page */
  .signin {
    min-width: 400px;
    min-height: 420px;
    gap: 27px;
  }
  .signin .Aurora_logo {
    height: 55px;
    width: 130px;
  }
  .signin h2 {
    font-size: 30px;
  }
  .signin p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* For Sign Up page */
  .signup {
    min-width: 420px;
    min-height: 500px;
  }
  .signup h2 {
    font-size: 30.5px;
  }
  .signup .Aurora_logo {
    height: 55px;
    width: 140px;
  }
  #user-up i {
    font-size: 25.5px !important;
  }
  #user-up input {
    width: 280px;
    font-size: 16.5px;
    height: 45px;
  }

  #user-up input::placeholder {
    font-size: 15.5px;
  }

  #btn {
    font-size: 15.5px;
  }
  .signup p {
    font-size: 14.5px;
  }
  /* For Sign in page */
  .signin {
    min-width: 420px;
    min-height: 420px;
    gap: 27px;
  }
  .signin .Aurora_logo {
    height: 55px;
    width: 140px;
  }
  .signin h2 {
    font-size: 30.5px;
  }
  .signin p {
    font-size: 14.5px;
  }
}

@media only screen and (max-width: 960px) {
  .Aurora_container .sidebarOverlay {
    display: block;
  }
  .Aurora_container .Sidebar_container {
    position: fixed;
    z-index: 100;
  }
  .Aurora_container .Sidebar_container.active {
    transform: translateX(-320px);
  }
  .Aurora_container .Sidebar_container.light .new_chat {
    background: rgba(238, 240, 248, 0.65);
  }
  .Aurora_container .main_content .Chat_head {
    justify-content: space-between;
  }

  .Aurora_container .main_content .Chat_head .sidebar_icon {
    display: block;
    background-color: rgb(35, 35, 35);
  }
  .Aurora_container .main_content.light .Chat_head .sidebar_icon {
    background: #efefef;
  }
  .Aurora_container .main_content .Chat_head .chat_head_rightItems i {
    background-color: rgb(35, 35, 35);
  }
  .Aurora_container .main_content.light .Chat_head .chat_head_rightItems i {
    background: #efefef;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 500px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 350px;
  }

  .Aurora_container .main_content .chat_footer .Input_message #inputAddIcon {
    background-color: #6d38d6;
  }
  .Aurora_container
    .main_content.light
    .chat_footer
    .Input_message
    #inputAddIcon {
    background-color: #efefef;
  }
  .Aurora_container .main_content .chat_footer .Input_message #Send_btn {
    background-color: #6d38d6;
  }
  .Aurora_container .main_content.light .chat_footer .Input_message #Send_btn {
    background-color: #efefef;
  }
  .Aurora_container .precaution_container {
    height: 380px;
    width: 400px;
  }
  .Aurora_container .precaution_container i {
    height: 45px;
    width: 45px;
    font-size: 21px;
  }
  .Aurora_container .precaution_container .precaution_msg1 {
    font-size: 17px;
  }
  .Aurora_container .precaution_container .precaution_msg2 {
    font-size: 15px;
    width: 340px;
  }
  .Aurora_container .precaution_container .precaution_icons button {
    height: 50px;
    width: 320px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  .Aurora_container .main_content {
    display: flex;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 500px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 400px;
  }
  .Aurora_container .Sidebar_container .sidebar_footer .user_info::before {
    border: none;
  }
}

@media only screen and (max-width: 630px) {
  .Aurora_container .Sidebar_container {
    width: 310px;
  }
  .Aurora_container .main_content .Chat_head {
    font-size: 19px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 450px;
    font-size: 16px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 350px;
    font-size: 16px;
  }

  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content
    span {
    font-size: 12.5px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content
    span {
    font-size: 12.5px;
  }
  .Aurora_container .main_content .chat_footer .Input_message #inputAddIcon {
    font-size: 18px;
  }
  .Aurora_container .main_content .chat_footer .Input_message .user_query {
    font-size: 16px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .user_query::placeholder {
    font-size: 16px;
  }
  .Aurora_container .main_content .chat_footer .Input_message #Send_btn {
    font-size: 18px;
  }
  .Aurora_container .precaution_container {
    height: 360px;
    width: 370px;
  }
  .Aurora_container .precaution_container i {
    font-size: 20px;
  }
  .Aurora_container .precaution_container .precaution_msg1 {
    font-size: 16px;
  }
  .Aurora_container .precaution_container .precaution_msg2 {
    font-size: 14px;
    width: 320px;
  }
  .Aurora_container .precaution_container .precaution_icons button {
    height: 50px;
    width: 280px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 580px) {
  .Aurora_container .main_content .chat_container {
    padding: 1rem 0rem 4rem 0rem;
  }
  .Aurora_container .main_content .chat_container .bot_message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Aurora_container .main_content .chat_container .user_message {
    width: 90%;
  }

  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    margin-left: auto;
  }
}
@media only screen and (max-width: 530px) {
  .Aurora_container .main_content .chat_container .user_message {
    width: 90%;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 300px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 400px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container {
    width: 260px;
  }
  .Aurora_container .main_content .chatBtnContainer .chatAction_container {
    width: 230px;
  }
  .Aurora_container .precaution_container {
    /* height: 340px; */
    width: 340px;
  }
  /* .Aurora_container .precaution_container i {
    height: 45px;
    width: 45px;
    font-size: 19px;
  }
  .Aurora_container .precaution_container .precaution_msg1 {
    font-size: 15px;
  }
  .Aurora_container .precaution_container .precaution_msg2 {
    font-size: 13px;
    width: 280px;
  }
  .Aurora_container .precaution_container .precaution_icons button {
    height: 50px;
    width: 260px;
    font-size: 13px;
  } */
}
@media only screen and (max-width: 460px) {
  .Aurora_container .Sidebar_container {
    width: 300px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 250px;
    font-size: 15px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 350px;
    font-size: 15px;
  }

  .Aurora_container .main_content .Chat_head {
    font-size: 18px;
  }
  .Aurora_container .main_content .chatBtnContainer .chatAction_container {
    width: 220px;
  }
  .Aurora_container
    .main_content
    .chatBtnContainer
    .chatAction_container
    .chatAction
    i {
    font-size: 19px;
  }
  .Aurora_container
    .main_content
    .chatBtnContainer
    .chatAction_container
    .chatAction
    span {
    font-size: 15px;
  }

  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content
    span {
    font-size: 11.5px;
    margin-right: 20px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content
    span {
    font-size: 11.5px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container {
    width: 250px;
    top: -75px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container
    .fileUpload
    i {
    font-size: 19px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container
    .fileUpload
    span {
    font-size: 15px;
  }

  /* .Aurora_container .main_content .chat_footer .Input_message #Input_filesbtn {
    font-size: 16px;
  }
  .Aurora_container .main_content .chat_footer .Input_message .user_query {
    font-size: 15px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .user_query::placeholder {
    font-size: 15px;
  }
  .Aurora_container .main_content .chat_footer .Input_message #Send_btn {
    font-size: 16px;
  } */
}
@media only screen and (max-width: 390px) {
  .Aurora_container .Sidebar_container {
    width: 290px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content {
    width: 230px;
    font-size: 14px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content {
    width: 350px;
    font-size: 14px;
  }

  .Aurora_container .main_content .Chat_head {
    font-size: 17px;
  }
  .Aurora_container .main_content .chatBtnContainer .chatAction_container {
    width: 210px;
  }
  .Aurora_container
    .main_content
    .chatBtnContainer
    .chatAction_container
    .chatAction
    i {
    font-size: 18px;
  }
  .Aurora_container
    .main_content
    .chatBtnContainer
    .chatAction_container
    .chatAction
    span {
    font-size: 14px;
  }

  .Aurora_container
    .main_content
    .chat_container
    .bot_message
    .message_content
    span {
    font-size: 10.5px;
  }
  .Aurora_container
    .main_content
    .chat_container
    .user_message
    .message_content
    span {
    font-size: 10.5px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container {
    width: 230px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container
    .fileUpload
    i {
    font-size: 18px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .inputFilebtn
    .fileUpload_container
    .fileUpload
    span {
    font-size: 14px;
  }
  .Aurora_container .precaution_container {
    height: 340px;
    width: 300px;
  }
  .Aurora_container .precaution_container i {
    height: 40px;
    width: 40px;
    font-size: 19px;
  }
  .Aurora_container .precaution_container .precaution_msg1 {
    font-size: 15px;
  }
  .Aurora_container .precaution_container .precaution_msg2 {
    font-size: 13px;
    width: 280px;
  }
  .Aurora_container .precaution_container .precaution_icons button {
    height: 50px;
    width: 230px;
  }
  /* .Aurora_container .main_content .chat_footer .Input_message #Input_filesbtn {
    font-size: 15px;
  }
  .Aurora_container .main_content .chat_footer .Input_message .user_query {
    font-size: 15px;
  }
  .Aurora_container
    .main_content
    .chat_footer
    .Input_message
    .user_query::placeholder {
    font-size: 14px;
  }
  .Aurora_container .main_content .chat_footer .Input_message #Send_btn {
    font-size: 15px;
  } */
}
